{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Login{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div>
     <p><font color="red">Login with campany's email, default passwd is 123, change the passwd after login</font></p>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
    <!--<p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>-->
</div>
{% endblock %}
