<ul class="users">
    {% for user in users %}
    <li class="report">
        <div class="post-thumbnail">
            <a href="{{ url_for('.user', username=user.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=40) }}" width="40">
            </a>
        </div>
        <div class="post-content">
            <div class="post-date"></div>
            <div class="post-author"><a href="{{ url_for('.user', username=user.username) }}">{{ user.username }}</a></div>
            <div class="post-body">
            </div>
            <div class="post-footer">
            </div>
        </div>
    </li>
    {% endfor %}
</ul>