<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Team Status</title>

    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <!--<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
    <!--<link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">-->
    <!--<link href="css/stylish-portfolio.min.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylish-portfolio.min.css') }}">

    <link href="{{ url_for('static' , filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

</head>

<body id="page-top">
<!-- Navigation -->
<a class="menu-toggle rounded" href="#">
    <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="#page-top">Content</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#page-top">Home</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
        </li>
    </ul>
</nav>

<!-- Header -->
<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1" style="color:white">Earth Team Status</h1>
        <h3 class="mb-5" style="color:white">
            <em>Record things and make plans</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="{{ url_for('main.help')}}">Find Out More</a>
    </div>
    <div class="overlay"></div>
</header>


<!-- Portfolio -->
<section class="content-section" id="portfolio">
    <div class="container">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Portfolio</h3>
            <h2 class="mb-5">Component</h2>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6">
                <a class="portfolio-item" href="{{ url_for('main.reports') }}">
              <span class="caption">
                <span class="caption-content">
                  <h1>Reports</h1>
                  <p class="mb-0">Report what you have done</p>
                </span>
              </span>
                    <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio-1.jpg') }}" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="{{ url_for('main.users') }}">
              <span class="caption">
                <span class="caption-content">
                  <h1>Members</h1>
                  <p class="mb-0">Information of the team members</p>
                </span>
              </span>
                    <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio-2.jpg') }}" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="{{ url_for('main.scrum') }}">
              <span class="caption">
                <span class="caption-content">
                  <h1>Scrums</h1>
                  <p class="mb-0">Generate table of scrums</p>
                </span>
              </span>
                    <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio-3.jpg') }}" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="{{ url_for('main.weeklys') }}">
              <span class="caption">
                <span class="caption-content">
                  <h1>Plans</h1>
                  <p class="mb-0">Make plans for current week</p>
                </span>
              </span>
                    <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio-4.jpg') }}" alt="">
                </a>
            </div>
        </div>
    </div>
</section>


<footer class="footer text-center">
    <div class="container">
        <p class="text-muted small mb-0">Copyright &copy; 2017</p>
    </div>
</footer>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>



<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for this template -->
<script src="{{ url_for('static', filename='js/stylish-portfolio.min.js') }}"></script>

</body>

</html>
