{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}report{% endblock %}
{% block page_content %}



<h4 id="report">Report</h4>

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
    $('#date').datepicker({
        weekStart: 1,
        autoclose: true,
        daysOfWeekHighlighted: "0,6",
        format: "yyyy/mm/dd",
        language: "zh-CN",
        todayHighlight: true
    });
    </script>
{% endblock %}

<div class="table-header">
    <p></p>
    <p></p>
    {% if current_time%}
        <h4><p class="multi-line-text" style="color:red">Now: {{ moment(current_time).format('LLL') }}</p></h4>
    {% endif %}
    <p>_____</p>
    <p>_____</p>
    <p>_____</p>
</div>


<div class="Report-form">
    {{ wtf.quick_form(form)}}
</div>

<div>
    <p></p>
    <p></p>
</div>

<div>
{% include '_reports.html' %}
</div>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.reports') }}
</div>
{% endif %}
{% endblock %}
