{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Post{% endblock %}
{% block page_content %}
<div class="page-header">
    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}" width="256">
    <div class="profile-header">
        <h1>{{ user.username }}</h1>
        <h2>{{ user.email }}</h2>
        {% if current_user == user %}
        <a href="{{ url_for('auth.change_password') }}">Change Password</a>
        {% endif %}
    </div>

    {% if weeklys %}
    <hr>
    <div class="weeklyplans">
        <h3>Recent two weeks' plans:</h3>
        {% include '_weekly_plans.html' %}
   </div>
    {% endif %}

    {% if reports %}
    <hr>
    <div class="reports">
        <h3>Reports:</h3>
        {% include '_reports.html' %}
        {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.user', username=user.username) }}
        </div>
        {% endif %}
    </div>
    {% endif %}

</div>
{% endblock %}