{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}report{% endblock %}
{% block page_content %}
<h4 id="report">Weekly</h4>

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
    <script type="text/javascript">
    $('#date').datepicker({
        weekStart: 1,
        autoclose: true,
        daysOfWeekHighlighted: "0,6",
        format: "yyyy/mm/dd",
        language: "zh-CN",
        todayHighlight: true
    });
    </script>
{% endblock %}

<hr>
<div class=proctor>
    <p></p>
    <p></p>
    <h4><p>
        <font color="red">Duty on </font>
        <a href="https://community.esri.com/groups/arcgis-earth">GeoNet</a>
        <a>: </a>
    </p></h4>
    <p><font>Jasmine, Mandy, Xuewen, Yongwei, Zhijun,</font><font color="red"> Shengtao</font><font>, Ben, Guodong, Pengfei, Chao, Lu</font></p>
    <p></p>
    <p></p>
    <p></p>
</div>
<hr>



<div class="table-header">
    <p></p>
    <p></p>
    <h4><p style="color:red">Make plans for the target week</p></h4>
    <p></p>
</div>

<div class="Weekly-form">
    {{ wtf.quick_form(form)}}
</div>

<div>
    <p></p>
    <p></p>
</div>

<div>
{% include '_weekly_plans.html' %}
</div>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.weeklys') }}
</div>
{% endif %}
{% endblock %}